# Editor and IDE files
.vscode/
.vim/

# Virtual environments
.venv/

# Development and scratch files
scratch/

# Python bytecode and cache
**/*.pyc 
**/__pycache__/.bin
.pytest_cache
*.egg-info

# Compiled binaries and objects
*.o
*.so
a.out
main

# Local and temporary files
*.local*
.bin/
.tmp/
